@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;

  --cell-count: 15;
  --cell-size: calc(100vw / var(--cell-count));
}
@media (max-width: 640px) {
  :root {
    --cell-count: 5;
    --cell-size: calc(100vw / var(--cell-count));
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .stars {
    @apply absolute inset-0 w-full h-full overflow-hidden;
    z-index: 1;
    pointer-events: none;
  }

  .star {
    @apply absolute rounded-full bg-white;
    opacity: 1;
    animation: twinkle 3s infinite ease-in-out alternate;
  }

  .star:nth-child(2n) { animation-duration: 5s; }
  .star:nth-child(3n) { animation-duration: 6s; }
  .star:nth-child(4n) { animation-duration: 7s; }
}

@keyframes twinkle {
  0%   { opacity: 0.2; }
  50%  { opacity: 1; }
  100% { opacity: 0.2; }
}

.bg-grid {
  background-color: black;
  position: relative;
  overflow: hidden;
}

.bg-grid::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image:
    linear-gradient(to right, rgba(255, 255, 255, 0.08) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.08) 1px, transparent 1px);
  background-size: var(--cell-size) var(--cell-size);
  z-index: 0;

  mask-image: radial-gradient(circle, rgba(0,0,0,1) 75%, rgba(0,0,0,0) 100%);
  -webkit-mask-image: radial-gradient(circle, rgba(0,0,0,1) 75%, rgba(0,0,0,0) 100%);
}


.grid-highlight {
  position: absolute;
  width: var(--cell-size);
  height: var(--cell-size);
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.09),
    rgba(255, 255, 255, 0)
  );
  z-index: 1;
}

.grid-highlight:nth-child(1) {
  top: calc(6 * var(--cell-size));
  left: calc(6 * var(--cell-size));
}
.grid-highlight:nth-child(2) {
  top: calc(1 * var(--cell-size));
  left: calc(4 * var(--cell-size));
}
.grid-highlight:nth-child(3) {
  top: calc(0 * var(--cell-size));
  left: calc(10 * var(--cell-size));
}
.grid-highlight:nth-child(4) {
  top: calc(3 * var(--cell-size));
  left: calc(12 * var(--cell-size));
}
.grid-highlight:nth-child(5) {
  top: calc(3 * var(--cell-size));
  left: calc(2 * var(--cell-size));
}
